<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gcb.demo.dao.CoMenuMapper" >
  <resultMap id="BaseResultMap" type="com.gcb.demo.po.CoMenu" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="menu_week" property="menuWeek" jdbcType="VARCHAR" />
    <id column="menu_morning_noon" property="menuMorningNoon" jdbcType="VARCHAR" />
    <result column="menu_content" property="menuContent" jdbcType="VARCHAR" />
    <result column="menu_greetings" property="menuGreetings" jdbcType="VARCHAR" />
    <result column="menu_food_culture" property="menuFoodCulture" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
</mapper>